# Node
node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/WixTools/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
